.is-modal-open {
  overflow-y: hidden !important;
  body {
    padding-right: 15px;
  }
  .c-header {
    padding-right: 15px;
  }
}

.m-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.m-overlay {
  content: "";
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background: #2c3e50;
  opacity: 0.6;
  cursor: pointer;
}

.m-dialog {
  --modal-margin: theme(spacing.5);
  z-index: 999;
  position: relative;
  width: auto;
  margin: var(--modal-margin);
  pointer-events: none;
  transform: translateY(-20px);
  transition-property: transform;

  margin: 0px 20px;
  padding-top: 60px;

  @screen sm {
    margin-left: auto;
    margin-right: auto;
    max-width: 536px;
  }

  @screen md {
    max-width: 704px;
  }

  @screen lg {
    max-width: 912px;
  }

  @screen xl {
    max-width: 800px;
  }

  /* &--md {
    @screen lg {
      max-width: 41.25rem;
    }
  }

  &--lg {
    @screen lg {
      max-width: 50.75rem;
    }
  }

  &--xl {
    @screen lg {
      max-width: 65rem;
    }
  } */

  &--centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--modal-margin) * 2);
  }

  .m-modal.is-shown & {
    transform: none;
  }
}

.m-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  color: theme(colors.black);
  background-color: theme(colors.white);
  background-clip: padding-box;
  outline: 0;
  border-radius: 32px;

  &--bg {
    @screen lg {
      min-height: 600px;
      padding-left: max(calc(100% - 574px), 0px);
    }
  }
}

.m-bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: max(calc(100% - 574px), 0px);
  padding: 20px;
  display: none;

  @screen lg {
    display: block;
  }

  &__img {
    position: absolute;
    inset: 0;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      background-color: theme(colors.black / 20%);
    }
  }

  &__logo {
    position: relative;
  }
}

.m-header {
  margin: 0;
  display: flex;
  padding: theme(spacing.5) theme(spacing.5) 0;

  .m-title {
    margin-bottom: 0;
  }
}

.m-body {
  padding: theme(spacing.5) theme(spacing.5) theme(spacing.10);

  .m-content--bg & {
    @screen md {
      padding: theme(spacing.5) theme(spacing.10) theme(spacing.10);
    }
  }
}

/* Components */

.m-close {
  position: absolute;
  right: 0;
  top: -30px;

  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);

  align-self: flex-start;
  width: theme(spacing.10);
  height: theme(spacing.10);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: calc(theme(spacing[2.5]) * -1) calc(theme(spacing[2.5]) * -1)
    calc(theme(spacing[2.5]) * -1) auto;

  .i-icon {
    width: theme(spacing.5);
    height: theme(spacing.5);
  }
}

.m-title {
  margin-bottom: theme(spacing.8);

  &:last-child {
    margin-bottom: 0;
  }
}

.m-text {
  line-height: 1.2;

  a:not(.f-btn) {
    text-decoration: underline;
  }
}

.pop-enter-active,
.pop-leave-active {
  transition: opacity 0.2s;
}

.pop-enter-from,
.pop-leave-to {
  opacity: 0;
}
