.c-choice {
  padding: 40px 0px;

  @screen lg {
    padding: 80px 0px;
  }
}

.c-quiz {
  height: 100%;
  display: flex;
  align-items: center;

  border-radius: 32px;
  overflow: hidden;

  .o-box {
    &:before {
      padding-bottom: 62.16%;
    }

    &::after {
      background: #fff;
    }
  }
}
