.c-honest {
  padding: 40px 0px;

  @screen lg {
    padding: 80px 0px;
  }

  &__box {
    background-position: center;

    @screen lg {
      width: 50%;
      min-height: 412px;
    }

    @screen xl {
      height: 100%;
      width: 100%;
      max-width: 410px;
      height: 410px;
    }

    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      border-radius: 32px;
    }

    &__title {
      font-weight: 700;
      font-size: 64px;
      line-height: 130%;
      color: #fff;
    }

    &__subtitle {
      color: #c3bbab;
      font-weight: 600;
      font-size: 24px;
      line-height: 1;
    }

    &__wrap {
      position: relative;
      display: grid;

      grid-template-columns: repeat(2, minmax(0, 1fr));
      z-index: 8;

      height: 100%;
      padding: 32px;
    }

    &__unit {
      &--empty {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
      }
    }
  }
}

.c-gradient {
  overflow: hidden;
  position: relative;

  svg path {
    transition: fill 0.1s;
  }

  &--active {
    svg path {
      fill: theme(colors.yellow);
    }
    span {
      color: theme(colors.yellow);
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0px;
    background: linear-gradient(45deg, #4b3e31, #4b3e3100), #ede8de;
    opacity: 0.8;
    z-index: 8;
  }
}
