.c-products {
  display: flex;
  padding: 40px 0px 60px 0px;

  @screen md-max {
    gap: 20px;
    flex-direction: column;
  }

  @screen lg {
    justify-content: space-between;
    padding: 80px 0px 80px 0px;
  }

  &__side {
    @screen lg {
      max-width: 305px;
    }
  }

  &__products {
    @screen lg {
      max-width: 740px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    @screen md {
      gap: 50px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @screen xl-max {
      width: 50%;

      &:nth-child(3) {
        display: none;
      }
    }

    @screen xl {
      width: 33.333%;
    }

    padding: 20px;
    position: relative;

    transition: theme(transitionTimingFunction.base)
      theme(transitionDuration.base);
    transition-property: background-color;

    border-radius: 8px;
    &:hover {
      background-color: theme(colors.local);
    }
  }
}

.c-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 20px;

  &::before {
    content: "";
    position: absolute;
    inset: 0px;
  }

  &__image {
    position: relative;
    padding-top: 160%;
    display: block;
    overflow: hidden;

    img {
      position: absolute;
      inset: 0px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  &__title {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;

    display: inline-flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

    @screen sm {
      font-size: 20px;
    }

    &__head {
      font-weight: 700;
    }
  }

  &__price {
    font-weight: 500;
    text-align: center;

    font-size: 22px;
    font-weight: 600;

    @screen md {
      font-weight: 400;
      font-size: 16px;
    }
  }

  &__pieces {
    width: 100%;
    opacity: 0.5;
    font-weight: 600;
    font-size: 12px;

    display: inline-flex;
    justify-content: center;
  }
}

.c-products__list.visible {
  .c-products__item {
    &:nth-child(3) {
      display: block;
    }
  }
}

.c-product__image--loading {
  opacity: 0;
}

.c-product__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;

  transition: opacity 0.3s ease;

  svg {
    animation: pulse 1s infinite alternate-reverse;

    width: 90%;
  }
}

.c-products__list.quiz {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @screen xxs {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @screen sm {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.c-products__item {
  width: 100%;
  padding: 12px;
  @screen sm {
    padding: 20px;
  }
}
