.c-quality {
  padding: 40px 0px;

  @screen lg {
    padding: 80px 0px;
  }

  .o-box {
    position: relative;

    overflow: hidden;
    border-radius: 32px;

    &::before {
      padding-bottom: 79.3%;
    }

    img {
      border-radius: 32px;
      z-index: 9;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}
