<div class="l-container">
    <section class="c-banner">
        <div class="c-banner__wrapper">
            <h1 class="c-banner__title">
                <span>
                    HEALTHY
                </span>
                <span class='text-yellow'>
                    PREMIUM RAW
                </span>
                <span>
                    FOOD FOR PETS
                </span>
            </h1>
            <p class='c-banner__subtitle'>long and healthy life for your furry friend</p>
            <a href='/' class="f-btn f-btn--banner">
                Shop now
            </a>
        </div>
        <div class="c-banner__image">
            <img src="../img/banner-image.png" alt="home-banner">
        </div>
    </section>
</div>
