<div class="l-container">
    <section class="c-choice flex flex-col xl:flex-row gap-11">
        <div class="xl:max-w-[500px]">
            <h2 class='c-title c-title--h2 mb-4 lg:mb-8'>Let’s find your best choice</h2>
            <p class='c-description'>Tell us more about your furry friend, and we'll build a delicious and balanced menu tailored to their needs</p>
        </div>
        <div class="w-full flex-1">
            <div class="jsv-quiz">
                <div class='c-choice__quiz'>
                    <div class='o-box'></div>
                </div>
            </div>
        </div>
    </section>
</div>
