<div class="l-container">
    <section class="c-offer flex flex-col lg:flex-row gap-5 relative">
        <div class='w-full lg-max:hidden overflow-hidden flex-shrink-0 lg:max-w-[415px] lg:max-h-[415px]'>
            <picture class='c-offer__image'>
                <img src="../img/dog-big-22.png" alt="">
            </picture>
        </div>
        <div class="c-offer__absolute rounded-[32px] w-full lg:bg-local p-4 md:p-[32px] flex flex-col lg-max:gap-5">
            <h2 class='text-[38px] md:text-[50px] xl:text-[64px] leading-none font-semibold lg:mb-8'>
                Get 35 % off your first order +&nbsp;
                <span class='font-bold'>FREE</span>
                shipping
            </h2>
            <p class='font-medium text-xs sm:text-5 xl:text-6 lg:max-w-[520px] lg:text-primary opacity-50 lg:mb-10'>Lorem ipsum dolor sit amet consectetur. Malesuada donec ac aliquet sed egestas convallis eget.</p>
            <a href='/' class="f-btn f-btn--primary-ghost lg:w-fit mt-auto">Shop now</a>
        </div>
    </section>
</div>
