<div class="l-container">
    <section class="c-quality flex flex-col lg:flex-row gap-5 xl:gap-40">
        <div class="c-quality__section md:max-w-[520px]">
            <h2 class='c-title c-title--h2 mb-5 lg:mb-10'>Quality for health</h2>
            <p class='c-description mb-5 lg:mb-8'>At our company, we strive to help pets live healthy and long lives by providing them with the best possible nutrition.
            </p>
            <p class='c-description mb-5 lg:mb-10'>We believe that high-quality, biologically appropriate food is the key to achieving this goal.</p>
            <a href='/' class="f-btn f-btn--primary-ghost">
                About us
            </a>
        </div>
        <div class="c-quality__section w-full">
            <div class='h-full flex items-center'>
                <picture class='c-quality__image'>
                    <img src="../img/cat-dog-big.png" alt="">
                </picture>
            </div>
        </div>
    </section>
</div>