<div class="l-container">
    <section class="c-know flex lg-max:flex-col gap-10 lg:gap-5">
        <div class='lg:w-[40%]'>
            <h2 class='c-title c-title--h2'>Everything You&nbsp;Need to&nbsp;Know</h2>
        </div>
        <div class='lg:w-[60%]'>
            {% include "../accordion.twig" %}
        </div>
    </section>
</div>
