<div class='w-full h-[196px] bg-white rounded-[20px] p-4 lg:max-w-[196px]'>
    <p class='text-primary text-center font-semibold h-full flex items-center justify-center text-5.5'>
        {{ text }}
    </p>
</div>
