<div class="l-container">
    <section class='lg:py-20 pt-15 pb-10'>
        <div class='flex justify-center items-center flex-col pb-10'>
            <h2 class='c-title c-title--h2 mb-5 lg:mb-7.5 '>How it works?</h2>
            <p class=' font-medium text-primary'>Just 4 simple steps to make your pet healthy</p>
        </div>
        <div>
            {% include "../propositions.twig" %}
        </div>
    </section>
</div>
