<div class="l-container">
    <section class='lg:py-20 pt-15 pb-10 grid lg:grid-cols-2 gap-5'>
        <div>
            <h2 class='c-title c-title--h2 lg-max:mb-5'>Our story</h2>
        </div>
        <div class='lg:max-w-[630px]'>
            <p class="c-description c-description--classic font-semibold mb-10">We want to share our story with you. It has all started in our childhood when we used to feed stray animals, build them shelters, and dream about starting a shelter when we grew up.
            </p>
            <div class="c-description text-sm grid gap-5 pb-5">
                <p>We both grew up surrounded by pets as we always had cats and dogs at home.</p>
                <p>One day our lives changed completely.
                    <br>
                    We fulfilled our dream and finally decided to adopt our first kitten in our adult life together. And that's how we got Stesha.
                </p>
                <p>As I am a nutritionist who follows healthy eating principles in my own life, the main question that arose was: What should we feed our kitten? How do we choose healthy nutrition?...</p>
            </div>
            <a href="" class="f-btn f-btn--primary-ghost font-bold text-sm mt-5 mb-10">READ MORE</a>
        <p class='md:text-11 text-6 font-semibold leading-snug'>“Our mission is to help pets live healthy and long lives through the use of high-quality, biologically appropriate nutrition”</p>
        </div>
    </section>
</div>
