<div class="c-loader js-loader">
    <div class="c-loader__logo">
        <div class="c-logo">
            <span class="sr-only">{{ app.brandName }}</span>
            {% include "../../img/svg/logo.svg" %}
        </div>
    </div>
</div>
