{% extends '_templates/base.twig' %}

{% set pageTitle = 'Blog' %}
{% set pageId = 'index' %}
{% set styleLinks = ['blog'] %}
{# {% set htmlClass = 'is-nospace' %} #}

{% block content %}
    <div class="c-blog">
        <div class="l-container">
            {% include "./_components/breadcrumbs.twig" %}
        </div>

        {% include "./_components/_blog/blog.twig" with { title: "Latest news" } %}
        <section class="c-blog-grid">
            {% include "./_components/_blog/blog-grid.twig" %}
            {% include "./_components/pagination.twig" %}
        </section>

        {% include "./_components/_home/choice.twig" %}
    </div>
{% endblock %}
