{% extends '_templates/base.twig' %}

{% set pageTitle = 'Головна' %}
{% set pageId = 'home' %}
{% set styleLinks = ['home'] %}
{# {% set htmlClass = 'is-nospace' %} #}

{% block content %}
    <div class="c-home">
        {% include "./_components/_home/banner.twig" %}
        {% include "./_components/carousel.twig" %}
        {% include "./_components/_home/products.twig" %}
        {% include "./_components/_home/quality.twig" %}
        {% include "./_components/_home/choice.twig" %}
    </div>
{% endblock %}
