.o-box {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    display: block;
    padding-bottom: 79.3%;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0px;
    background-color: theme(colors.local);
    border-radius: 32px;
    z-index: -1;
  }

  &--1 {
    &::before {
      padding-bottom: initial;

      @screen lg {
        padding-bottom: 100%;
      }
    }
  }
}
