/* Font weight hint
// 100 – thin
// 200 – extra light
// 300 – light
// 400 – regular (normal)
// 500 – medium
// 600 – semibold
// 700 – bold
// 800 – extrabold
// 900 – black */

@font-face {
  font-family: "CooperBlack";
  font-display: swap;
  src: local(CooperBlack),
    url("../../fonts/Cooper-Black-Regular.woff") format("woff"),
    url("../../fonts/Cooper-Black-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: local(GellixRegular),
    url("../../fonts/Gellix-Regular.woff2") format("woff2"),
    url("../../fonts/Gellix-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: local(GellixMedium),
    url("../../fonts/Gellix-Medium.woff2") format("woff2"),
    url("../../fonts/Gellix-Medium.ttf") format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: local(GellixSemiBold),
    url("../../fonts/Gellix-SemiBold.woff2") format("woff2"),
    url("../../fonts/Gellix-SemiBold.ttf") format("ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: local(GellixBold), url("../../fonts/Gellix-Bold.woff2") format("woff2"),
    url("../../fonts/Gellix-Bold.ttf") format("ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: local(ManropeRegular),
    url("../../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: local(ManropeMedium), url("../../fonts/Manrope-Medium.ttf") format("ttf");
  font-weight: 500;
}
