.c-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: theme(zIndex.20);
  line-height: 1;
  color: theme(colors.text);
  background-color: theme(colors.body);
  transition: theme(transitionTimingFunction.base)
    theme(transitionDuration.base);

  transition-property: box-shadow;

  &__inner {
    display: flex;
    align-items: center;
    /* padding-top: theme(spacing[2.5]); */
    /* padding-bottom: theme(spacing[2.5]); */
    height: theme(spacing.headerHeightSm);
    @screen lg {
      height: theme(spacing.headerHeight);
    }
  }

  &__main {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: theme(spacing.8);

    align-self: center;
    transition-property: width, padding;

    width: 90px;

    @screen lg {
      width: 158px;
      margin: 0 auto;
    }
  }

  &__hamburger {
    line-height: 0;

    @screen lg {
      display: none;
    }

    &-btn {
      display: block;
      padding: theme(spacing.5);
      margin: calc(theme(spacing.5) * -1);
      margin-left: 10px;
    }

    &-icon {
      display: block;
      height: theme(spacing.4);
      width: 18px;
      position: relative;

      div {
        border-radius: 25px;

        height: theme(spacing[0.5]);
        width: 100%;
        position: absolute;
        flex-shrink: 0;
        left: 0;
        transform-origin: center;
        background-color: currentColor;
        transition-property: width, inset, transform;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: calc(50% - 1px);
        }

        &:nth-child(3) {
          bottom: 0;
        }
      }
    }
  }

  &__nav {
    display: none;

    @screen lg {
      display: block;
    }
  }

  &__actions {
    --icon-size: theme(spacing.6);
    margin-left: auto;

    @screen lg {
      margin-left: inherit;
      display: block;
    }

    .c-socials {
      @screen xl {
        &__list {
          margin-left: calc(-1 * theme(spacing.4));
          margin-right: calc(-1 * theme(spacing.4));
        }

        &__link {
          padding-left: theme(spacing.4);
          padding-right: theme(spacing.4);
        }
      }
    }
  }
}

.is-menu-open {
  .c-header {
    &__hamburger {
      &-icon {
        div {
          will-change: transform;

          &:nth-child(1) {
            top: calc(50% - 1px);
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            width: 0;
            left: 50%;
          }

          &:nth-child(3) {
            top: calc(50% - 1px);
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

.is-header-sticky .c-header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06),
    0 0 1px rgba(0, 0, 0, 0.04);
}
