.c-title {
  font-weight: 700;
  line-height: 1;

  &--h1 {
    font-size: theme(fontSize.8);
    line-height: 1.1;

    @screen md {
      font-size: theme(fontSize.10);
    }

    @screen xl {
      font-size: theme(fontSize.14);
    }
  }

  &--h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 100%;

    @screen lg {
      font-size: 74px;
    }
  }

  &--h3 {
    font-size: theme(fontSize.6);

    @screen lg {
      font-size: theme(fontSize.7);
    }

    @screen xl {
      font-size: theme(fontSize.8);
    }
  }

  &--h4 {
    font-size: 38px;
    font-weight: 600;

    @screen lg {
      font-size: 32px;
    }
  }

  &--h5 {
    font-size: 28px;

    @screen lg {
      font-size: 30px;
      font-weight: 600;
      line-height: 130%;
    }
  }

  &--lg {
    font-size: theme(fontSize[4.5]);

    @screen xl {
      font-size: theme(fontSize[5.5]);
    }
  }
}

.c-description {
  color: theme(colors.primary.DEFAULT);
  line-height: 130%;
  font-weight: 500;

  @screen lg {
    font-size: 24px;
  }
}
