.f-btn {
  --icon-size: theme(spacing.6);
  appearance: none;
  /* height: theme(spacing.12); */
  display: inline-flex;
  gap: theme(spacing.2);
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding: 10px 26px 13px 26px;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  color: #fff;
  position: relative;
  max-width: 100%;
  transition-property: background-color, color, border-color, box-shadow,
    opacity;
  border-radius: 999px;

  z-index: 1;

  @screen sm {
    font-size: 24px;
    padding: 12px 30px 15px 30px;
  }

  &--banner {
    background-color: theme(colors.btnBanner);
  }

  &:disabled,
  &.is-disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &--sm {
    height: theme(spacing.10);
  }

  &--lg {
    height: theme(spacing.16);
  }

  &--primary {
    background-color: theme(colors.primary.DEFAULT);
    color: theme(colors.white);

    @media (any-hover: hover) {
      &:hover,
      &:focus {
        opacity: 1;
        background-color: color(theme(colors.primary.DEFAULT) blackness(+10%));
        color: theme(colors.white);
      }
    }
  }

  &--primary-ghost {
    border: 2px solid theme(colors.primary.DEFAULT);
    color: theme(colors.primary.DEFAULT);
    font-size: 24px;
    font-weight: 500;

    @screen md-max {
      font-weight: 700;
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;

    @screen md {
      margin-left: 10px;
    }

    transition: transform theme(transitionTimingFunction.base)
      theme(transitionDuration.base);

    .i-icon,
    svg {
      width: 20px;

      @screen md {
        width: 30px;
      }
    }

    &--up {
      margin-left: 0;
    }

    &--rotate-45 {
      transform: rotate(-45deg);
    }
  }

  &--rounded {
    border-radius: 999px;
  }

  &--link {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: none;
        color: theme(colors.primary.DEFAULT);
      }
    }
  }

  &--overlay {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  &--block {
    width: 100%;
  }

  &--arrow {
    width: theme(spacing.16);
    height: theme(spacing.16);
    padding: theme(spacing[2.5]);
    border-radius: 999px;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @media (any-hover: hover) {
    &:hover {
      .f-btn__icon {
        transform: translateX(5px);

        &--up {
          transform: translate(5px, -5px) rotate(-45deg);

          /* transform: rotate(-45deg); */
        }
      }
    }
  }

  &--pure {
    @screen lg {
      margin: -12px -30px;
    }

    margin: -10px -26px -13px -26px;
    color: theme(colors.text);
    font-weight: 600;
    font-size: 20px;

    .f-btn__icon {
      padding-top: 6px;
    }
  }
}

.f-btn--round {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50px;
  border: 1px solid #000;
  width: 47px;
  height: 47px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &-primary {
    border: theme(colors.primary.DEFAULT) solid 2px;

    .f-icon .i-icon {
      width: 26px;
    }
  }
}
